<% content_for :title do "Home" end %>

<h2>URLs Please: In search of (free) customers</h2>

<p>This site is pre-release. If you're seeing it, I've probably sent you the URL. Please send me some feedback about how you'd like URLs Please to make it easier for you to create or find content on the web.</p>

<% unless user_signed_in? -%>
<h3>Sign up</h3>
<p>It's very simple: just <%= link_to "gimme a nickname and valid email address", new_user_registration_path %> I won't share or use to send you spam. That's it for the personal information. No market segmentation necessary: we're all friends here.</p>
<% end %>

<h3>Looking for a topic?</h3>
<p>Are you a blogger or other content creator? Do you fancy yourself an expert on some topic? Looking for something to write or record about? <%= link_to "Find ideas here", requests_path %> and make something you know someone wants. Then post the URL. You own your content and share the link.</p>

<h3>Post a request</h3>
<p>Wish someone had written a good blog post or made a screencast or podcast about a topic dear to your heart? 
<%= user_signed_in? ? 
  link_to("Just ask for it", new_user_request_path(current_user)) : 
  "Just ask for it" %>. This is your opportunity to ask the world to make it so.</p> 

<h3>Is this it?</h3>
<p>I know this is not a sophisticated web page. How do I possibly plan to monetize this? What's my plan for the spam bots that will arrive any moment? Why don't I even have a 1995-era FAQ?<p>
  
<p>I have a <%= link_to "to-do list", welcome_todo_path %>, but the important thing is to launch and find some (free) customers to help me find out what URLs Please ought to be. This is a personal project. I'm going to keep it free, and ad-free unless (the hubris!) I need to pay for increased traffic.</p>
  
<h3>Want the whole story?</h3>
<p>I'm good at writing in the long form, so you should read my <%= link_to "statement of purpose", welcome_purpose_path %> if you're interested in the details of my crackpot idea.</p>