<% content_for :title do "Requests" end %>

<h2>Listing requests</h2>

<table>

<% @requests.each do |request| %>
<p><%= link_to request.excerpt, user_request_path(request.user, request) %>
    by <%= request.user.nickname %><br />
    <%= "#{request.resources.size} responses" if request.resources.size > 0 %> </p>

<% end %>

<br />

<h2>Search by tag</h2>

<%= form_tag requests_tagged_path %>

<p>
  <%= label_tag 'search_string', 'Tags to search for' %> (separate with spaces or commas)<br>
  <%= text_field_tag 'search_string', '', :size => 30 %>
</p>
<%= submit_tag("Search") %>
</form>

<br />
<br />


<%= link_to 'New Request', new_user_request_path(current_user) %>
