<% content_for :title do "Request by #{user @request}" end %>

<h2>Request</h2>
<p>
  <b>Requirements:</b>
  <%= @request.requirements %>
</p>

<p>
  <b>Posted by:</b>
  <%= link_to user(@request), @request.user %>
</p>

<p><b>Tags:</b></p>

<p><%= linked_tags @request.tags %></p>

<p><b>Resources posted in response:</b></p>

<ul>
<% @resources.each do |r| %>
<% unless r.new_record? %>
  <li><%= link_to r.url, r.url %> by <%= link_to user(r), r.user %></li>
  <% end %>
<% end %>
</ul>

<p><b>Post a resource:</b></p>
<%= form_for @resource, :url => user_request_resources_path(current_user, @request) do |r| %>
  <%= r.text_area :url, :cols => 80, :rows => 3 %>
  <br clear="all" />
  <%= submit_tag 'Create' %>
<% end %>
<%= link_to 'Back', requests_path %>
