<% content_for :title do "Requests" end %>

<h2>Requests matching tags</h2>

<p><b>Searched for:</b> <%= @search_tags.join(', ') %></p>

<table>

<% @requests.each do |request| %>
<p><%= link_to request.excerpt, user_request_path(request.user, request) %>
    by: <%= user request %><br />
    tags: <%= linked_tags request.tags %><br />
    <%= "#{request.resources.size} responses" if request.resources.size > 0 %> </p>

<% end %>

<br />

<h2>Search again</h2>

<%= form_tag requests_tagged_path %>

<p>
  <%= label_tag 'search_string', 'Tags to search for' %> (separate with commas)<br>
  <%= text_field_tag 'search_string' %>
</p>
<%= submit_tag("Search") %>
</form>

<br />
<br />

<%= link_to 'Back', requests_path %> |
<%= link_to 'New Request', new_user_request_path(current_user) %>
