<% content_for :title do  "Tag #{@tag.contents}"  end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Contents:</b>
  <%= @tag.contents %>
</p>

<p>
  <b>Recent uses:</b>
  <% @requests.each do |request| %>
<p><%= link_to request.requirements, user_request_path(request.user, request) %> by 
   <%= user request %></p>
  <% end %>

<%= link_to 'Show all tags', tags_path %> |
<%= link_to 'Show all requests', requests_path %>
