<% content_for :title do "New resource" end %>

<h2>New resource for request</h2>
<p>
  <b>Request requirements:</b>
  <%= @request.requirements %>
</p>

<p>
  <b>Request posted by:</b>
  <%= @request.user.nickname %>
</p>


<%= form_for(@resource, :url => user_request_resources_path(@user, @request)) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', resources_path %>
