<p>
  <b>Url:</b>
  <%= @resource.url %>
</p>

<p>
  <b>For request:</b>
  <%= @resource.request_id %>
</p>

<p>
  <b>Provided by user:</b>
  <%= user @resource %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
