<html>
<head>
<title>URLs Please | <%= yield :title %></title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <%= yield :head %>
  <script type="text/javascript" charset="utf-8">
    <%= yield :js %>
  </script>
  <style type="text/css" media="screen">
    <%= yield :css %>
  </style>
</head>
<body>
<div id="body_head">
  <div id="main_nav" style="float:right">    
  <% if user_signed_in? -%>
    Signed in as <%= current_user.nickname %>. 
    <%= link_to "Sign out", destroy_user_session_path -%> |
    <%= link_to "Make a request", new_user_request_path(current_user) %> | 
    <%= link_to "Review requests", requests_path %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path -%> or 
    <%= link_to "Sign up", new_user_registration_path -%>
  <% end -%> 
  | <%= link_to "Home", root_path %>
  </div>

  <h1>URLs Please</h1>

</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>